/* make all font Arial */
body {
    font-family: Arial;
}

.centered {
    text-align: center;
}

.container {
    display: flex;
}

#col1 {
    float: left;
    width: 33%;
}

#col2 {
    float: left;
    width: 33%;
}

#col3 {
    float: left;
    width: 33%;
}

.selected {
	stroke: orange;
	stroke-width: 3px;
	opacity: 1 !important;
}

.bar_selected {
	stroke: orange;
	stroke-width: 5px;
	opacity: 1 !important;
}

